@()(implicit request:Request[AnyContent])
@import java.util.Calendar
@import models.viewtags.ViewUtils




<div class="container well-lg bg-danger" role="columnheader">
    <p>Render Time: @{Calendar.getInstance().getTime.toString}</p>

    <p><strong>Request</strong> Session From Controller to View Dump: </p>

<p>Things from Request (cause not sure how to pass around response in templates)</p>
    Request Session Size: @{request.session.data.size}:
    <table>
        @for(s <- request.session.data) {
            <tr><td>@s._1</td><td>@s._2</td></tr>
        }
    </table>
    <br/>


    <table>
        <thead>Flash Map</thead>
        <tbody>
        @for(s <- request.flash.data) {
            <tr><td>@s._1</td><td>@s._2</td></tr>
        }
        </tbody>
    </table>
          <table class="table table-striped table-bordered table-condensed">
        <thead>Headers</thead>
        <tbody>
        @for(s <- request.headers.headers) {
            <tr><td>@s._1</td><td>@s._2</td></tr>
        }
        </tbody>
    </table>

    <p>Localhost Cookies Seem Problematic for Session Holding in 2.4.2</p>
             <table class="table table-bordered" summary="Cookie Monsters">
            <caption>Cookies Cookie Monster</caption>
            <thead>
          <tr><th>Domain</th><th>HTTP Only</th><th>Name</th><th>Value</th></tr>
                   </thead>
        <tbody>

        @for(s <- request.cookies) {

            <tr><td>@s.domain</td><td>@s.httpOnly</td><td>@s.name</td><td>@{s.value}</td></tr>
        }
        </tbody>
    </table>

<p>Rats, need the request.... or WrappedRequest, bite the bullet</p>
</div>

