@(err: Throwable)

<h1>Global Error Catcher</h1>
<p>Just messing around, when out of dev this of course goes away.</p>
<p>When in dev the activator probably catches it better.</p>
<p>
    Message: @{
    err.getLocalizedMessage
}
</p>
<p>
    Where:
    @err.getStackTrace
</p>
