@()(implicit request:Request[AnyContent])

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Telenor Financial Services X</p>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@routes.Application.home">Home</a></li>
                <li><a href="@routes.Application.about()">About</a></li>
                <li><a href="@routes.Application.contact()">Contact</a></li>
                <li>
                    <a target="_blank" href="https://connect.staging.telenordigital.com/gui/mypage/">
                        MyConnect ID
                        <span class="fa fa-external fa-external-link fa-lg"></span>
                    </a>

                </li>
            </ul>

            <ul class="navbar-right">
                <span class="username navbar-text">
                      Welcome

                </span>
                <!-- Obviously this must change on login/logout status -->
                <a href="@routes.Application.login()" class="btn btn-primary navbar-btn">Login</a>
                <a href="@routes.Application.logout()" class="btn btn-primary navbar-btn">Logout</a>
            </ul>

        </div><!--/.nav-collapse -->

    </div>

</nav>
