@(title:String)(connectLoginUri:String)(implicit request:Request[AnyContent])



    @templates.main(title) {

        <H1>Identity Confirmed...</H1>
        <div class="container confirmation">
            <p>An experimental site.... use at your own risk...</p>

            <p>You are now logged in via your CONNECT ID.</p>
            <p>You are what you is</p>
            <p class="alert-success">Succesfull login... gathering information.</p>

            <p>
                You can manage your CONNECT ID via the
                <a href="https://connect.staging.telenordigital.com/gui/mypage/overview">self service page.</a>
            </p>
        </div>
    }
