@(title:String)(implicit request:play.api.mvc.Request[AnyContent])


    @templates.main(title) {

        <H1>Dashboard...</H1>
        <div class="container confirmation">
            <p>This is your account dashboard or something...</p>

            <p>
                You can manage your CONNECT ID via the
                <a href="https://connect.staging.telenordigital.com/gui/mypage/overview">self service page.</a>
            </p>
        </div>
    }
