@(errors:Seq[String])(implicit request: play.api.mvc.Request[AnyContent]))



@templates.main("Failed Connect ID Login") {

    <h1>Your Login Failed</h1>

    <p>We tried to log you in via CONNECT ID but is seems to have failed -- this is probably a programming error..</p>

    Messages:
    <pre>
    @{errors.mkString("\n")}
    </pre>

}
