@import spray.json.JsValue
@import play.mvc.Http.Context.Implicit._
@import _root_.com.odenzo.connectid.ConnectIdUserInfo

@(params:String)(user:ConnectIdUserInfo)(implicit request: play.api.mvc.Request[AnyContent]))



@templates.main("Processing Connect Login....") {

    <div class="contentContainer">
        <h1>Your Login is being processed... (actually its done already)</h1>

          <p>I have an Implicit Context via import: Current Lang: @flash() </p>
        <p> Just stopping by here to show you the information.</p>
        <p>So, welcome aboard @{user.label.getOrElse("System Failed!!!")}</p>
        <div class="container">

            <ul>
                <li>Name: @user.name.getOrElse("<<No Phone Registered>>")  </li>
                <li>Phone: @user.phone.getOrElse("<<No Phone Registered>>")  </li>
                <li>email: @user.email.getOrElse("<<No Email Registered>>")  </li>
                <li>Connect ID: @user.connectid.getOrElse("<<No Connect ID - this is imposible!>>")  </li>
            </ul>

        </div>

        <p>
            The <strong>tokens</strong> tell what access you have (scope) and some other stuff you don't need to be
            concerned with.
            In the final version these will actually be filtered out and not given to you.
            Now, are all time limited sensitive security things, access and refresh token.
        </p>

        <p>
            the <strong>userinfo</strong>
            gives you some information about the Connect ID user who has logged in and granted
            rights.
            The <code>sub</code> is essentially the Connect ID and will not change over time.
            Which of the rest will be there is unknown. <code>name</code> will only be there is user enters.
            Don't remember if there was a place in sign-up or have to go to MyConnect and edit profile.
            I think at least one <code>phone_number</code> will always be there, but it may not be verified.
        </p>
        <p>
            Same with email, although I think this may be optional on sign-up to cater to customers with no email address.
            There may be multiple emails and phones.
            We can fine tune the gateway to give you the information you want.
        </p>
        <p>
            Note: The plan is to store any associated local FSU data, either local user id or local account id in GBE.
            What will happen to this is they Revoke access I am not sure. If that is a problem then Gateway will have a backup DB
            of it or the FSU will have it. So, the goal is when a Connect ID logs in and already has an account/CIM record, you will
            get it back in userinfo.
        </p>

        <p>The results from the gateway processing your auth token were: </p>

        <pre>@{user.lastJson}</pre>

        <p>From That the Folloing User Information Was Extracted:</p>
        <pre>@user</pre>


    </div>
}
