@()(implicit request:Request[AnyContent])

@templates.main("Login Page") {

    <div class="container">

        <div class="row">


            <div class="col-sm-4">
                <h2 class="panel-heading"> Connect ID Develop Logins</h2>
                <p>This allows some experimentation to play around with the diffent ways of sending login request
                    to Connect ID server.
                </p>

                <form class="form-signin">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    @*@helper.form(action = routes.ConnectID.postForm()) {*@
                    @*@helper.inputText(formData("id"))*@
                    @*@helper.inputText(formData("name"))*@

                    @*<input type="submit">*@
                    @*}*@
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" onclick="" type="submit">Sign in</button>

                </form>

            </div><!-- /.col-sm-4 -->


        </div>

        <div class="contentContainer">
            Here are some messages from the sponser:
        </div>

        <p>The URL to your <a href="https://connect.staging.telenordigital.com/gui/mypage/">
            Telenor Connect Id</a></p>
    </div> <!-- /container -->

}
