@(errorMessage:Option[String] = None)()(implicit request: play.api.mvc.Request[AnyContent]))

@templates.main("Logged Out....") {

    <div class="container">

        <div class="row">
          You have now been logged out.  Want to <a href="@routes.Application.welcome()">Start Over Again?</a>
        </div>

        <div class="contentContainer">
            Here are some messages from the sponser: @errorMessage
        </div>


    </div> <!-- /container -->

}
