@(errorMessage:Option[String] = None)(implicit request: play.api.mvc.Request[AnyContent]))

@templates.main("Standard Login Page") {

    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="locallogin">
                    <form class="form-signin">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" onclick="" type="submit">Sign in</button>

                    </form>
                    <p>This form if for decoration, to show you *can* support multiple styles of logins if you want.</p>
                    <p>It is also pretty easy to support binding an existing login to Connect ID so they can use
                    either, of course it's preferable to phase out the existing local login to avoid confusion.</p>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <h2 class="panel-heading"> Connect ID Logins</h2>
                <div class="list-group">
                    <a href="@routes.ConnectID.doConnectIDLogin(2, true)" class="btn btn-primary">Login</a>
                    <p>Note: If you are already logged in this won't ask for your password again, by design.</p>
                </div><!-- /.col-sm-4 -->

            </div><!-- /.col-sm-4 -->


        </div>

        <div class="contentContainer">
            Here are some messages from the sponser:
        </div>

        <p>The URL to your <a href="https://connect.staging.telenordigital.com/gui/mypage/">
            Telenor Connect Id</a></p>
    </div>

}
