@()(implicit request:play.api.mvc.Request[AnyContent])



@templates.main("Home") {


    <div class="container">

        <pre>
            General Connect Flow:
            + If user doesn't have a CONNECT ID then they can get one. This may take a while (in terms of callbacks etc)
            + If user not logged into CONNECT ID, login required
            + If user has not already granted rights to RippleWave then granting assent requested (can accept or deny)
            + Redirect currently goes to connect.ripplewaves.com ... will have that do stuff and redirect back to
            RippleThailand.com

            Implied above is the behaviour that if the user is logged into CONNECT and has granted priveleges than
            auto-login.

            q. By logging in,automatically get the openid and profile right or that is Basic Information assent.
            note: The redirect to connect.ripplewaves.com is an alternative, normally redirect from CONNECT to
            ripplethailand

            q. Is there anyway for me to determine if the user visiting this page is logged into CONNECT already
        </pre>

        <p>Note: If you are already logged in via CONNECT ID, then you will be asked to confirm / deny but
            not be asked to re-authenticate. This is because SSO is enabled, try fiddling with nobs</p>
        <p>I really like the idea of limiting grants based on user desired.</p>
        <p>Eventually a list of scopes to ask Grant for, now just use openid and profile</p>
        <p>Note the local login is ephemeral -- not stored in database for this demo</p>


        <p>Register with CONNECT ID requires a unique phone number -- but phone numbers don't have to be unique after
            login?</p>

    </div>
}
