@()(implicit request:Request[AnyContent])



@templates.main("Home") {

    <div class="container">

        <p>
            If you have any questions about this demonstration please contact Telenor Group Financial Services.
            Steve Franks... or Sigurd Thunem at Telenor Digital, he is Product Manager for Connect ID.
        </p>
        <p>
            Telenor Connect ID <a href="https://docs.telenordigital.com">online documentation</a> is also useful.
            Links to Open ID Connect and Mobile Connect would be good too...
        </p>

    </div>
}
